@model MRPackage.Package.Email.UserRegistrationModel
@{
    Layout = "Layout";
}

<table>
    <tr>
        <td>
            Hi @Model.FirstName @Model.LastName!
        </td>
    </tr>
    <tr>
        <td>
            Welcome to @Model.ServiceName
        </td>
    </tr>
</table>