@model  MRPackage.Package.Email.UserResetPasswordModel
@{
    Layout = "Lsayout";
}
<table>
    <tr>
        <td style="text-align:center"> 
            Hi @Model.FirstName @Model.LastName
        </td>
    </tr>
    <tr>
        <td>
            You requested reset password for your account. <br />
            Please, direct next link and provide new password for your account.
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Model.ResetLink">Reset password</a>
        </td>
    </tr>
</table>